@charset "utf-8";
/* 默认样式 */

*
{
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	transition: all 0.5s;
}

*
{
	margin: 0;
}

body 
{
	font: 14px/16px Verdana, Geneva, "微软雅黑", sans-serif;
}

h1, h2, h3, h4, h5, h6
{
	line-height: 1.2em;
}

h1 
{
	font-size: 2.5em;
	text-align: center;
}

h2
{
	font-size: 2em;
}

h3
{
	font-size: 1.5em;
}

h4, h5, h6
{
	font-size: 1em;
}

h1, h2, h3, h4, h5, h6, p 
{
	margin-top: 20px;
	margin-bottom: 20px;
}


.columns-container
{
	display: block;
}

.columns-container:after
{
	clear:both;
	
	content: "";
	display: block;
	height: 0;	
	visibility: hidden;
}

.left 
{
	float: left;
}

.right
{
	float: right;
}

.clear 
{
	clear: both;
}

