@charset "utf-8";
/* CSS Document */
html {
	padding:10px;
}
body {
	background:url(images/body-bg.png) repeat-x top #EFEFFF;
}

h3 {
	height:24px;
	border-bottom: 1px solid #CDE;
	margin-bottom:10px;
}


#main{
	width:auto;
}

#side{
	float: right;
	width: 250px;
	background:url(images/side-bg-r.png) repeat-x top #E4ECF5;
	border: 1px solid #0099AA;
}

span.more{
	float:right;
}

li{
	margin:6px;
}

.command {
	background: url(images/command-bg-blue.png) repeat-x top #EBEBEB;
	padding:5px 10px;
	border:1px solid #BCD;
    zoom:1;
}

.command:after {
    display:block;
    clear:both;
    visibility:hidden;
    height:0;
    content:'';
}

/******* table styles *******/
/*common*/
.table-container table {
	background:#F8F8F8;
	border-left: 1px solid #BCD;
	border-right: 1px solid #BCD;
	border-collapse: collapse;
	width:100%;
	clear:both;
}
.table-container table th, .table-container td {
	padding:5px;	
	border-bottom:1px solid #DDD;
}
.table-container table th {
	background:#E4ECF5;
	border-left:1px solid #BCD;
	font-weight:bold;
}
.table-container table tr.last td,{
    border-bottom:none;
}
.table-container table tr:last-child td {
    border-bottom:none;
}
.table-container table tr.even td {
	background:#FFF;
}
.table-container table tr:nth-child(2n) td {
    background:#FFF;
}
.table-container table tr:hover td {
	background:#FFC;
}
.table-container table tr.selected td {
	background:#DEEEFF;	
}
/*different table column length*/
.table-container table th.checkbox { /*checkbox column*/
	width: 13px;
}
.table-container table th.common { /*common column*/
	width: 130px;
}
.table-container table th.action { /*action column*/
	text-align: center;
	width: 30px;
}
.table-container table th.short-date { /*short date column*/
    width:72px;
}
.table-container table th.long-date { /*long date column*/
    width:130px;
}
.table-container table th.status { /*status column*/
    width:60px;
}
.table-container table th.sn { /*serial number column*/
    width:40px;
}
.table-container table th.human-name-cn { /*human chinese name*/
	width:50px;
}

/****pagination styles****/
.pagination {
	margin-top:5px;
	float:right;
	z-index:1;
}
.pagination a {
	margin:4px;
}
.pagination a.current {
	color:#900;
	font-weight:bold;
}

/******search panel style*******/
.search-panel {
	float:right;
	position:relative;
}
.search-form {
	background: #FFFFFF;
    border: 1px solid #CCC;
    border-radius: 5px;
    margin-right: 10px;
    padding: 1px;
	float:left;
}
a.advanced {
	background:url(images/arrow-down.png) no-repeat right center;
	margin-top:5px;
	padding-right:10px;
	display:inline-block;
	position:relative;
	z-index:100;
}
a.advanced.active {
	background:url(images/arrow-up.png) no-repeat right center;
}
.search-form input[type="text"] {
	border:none;
}
.search-form input[type="submit"], 
.search-form input[type="button"] {
	text-indent: -9999px;
	background: url(images/icons/search.png) no-repeat center center;
	cursor: pointer;
	height: 20px;
	width: 20px;
	border:none;
}

/*advanced more search panel*/
.more-search {
	background:#FFF;
	border:1px solid #CCC;
	padding:10px;
	position:absolute;
	right:-6px;
	top:0;
	z-index:2;
	border-radius:4px;
}
/******common form styles******/
.common-form {
	margin-top: 0;
}

.common-form table {
	width:100%;
}

.common-form table tr th, .common-form table tr td {
	padding:5px;
	vertical-align:middle;
	min-width:60px;
	border-bottom:1px solid #EEE;
}

.common-form table tr th {
    text-align:right;
    white-space:nowrap;
}

.common-form fieldset legend {
	font-size:14px;
	font-weight:bold;
}

.common-form fieldset {
	border:1px solid #DDD;
	padding:10px;
	margin:5px 0;
}

.common-form input[type="text"], .common-form input[type="password"], .common-form select{
	border-radius:5px;
	background:#FFF;
	padding:2px 3px;
    border:1px solid #CCC;
}

.common-form input[type="text"]:focus, .common-form input[type="password"]:focus, common-form select {
	border: 1px solid #09F;
}

.common-form input[type="text"].date {
	background:url(images/icons/calendar-color.png) no-repeat 136px 1px #FFF;
	width:150px;
}

.common-form table tr th.auto-width {
	width: auto;
}

.common-form input[type="text"].number {
	width:50px;
	text-align:right;
}

/* Length of form elements*/
/* Mini */
.common-form label.mini {
	width: 44px;
}
.common-form input[type="text"].mini, .common-form input[type="password"].mini {
	width: 40px;
}
.common-form select.mini {
	width: 42px;
}
/* Short */
.common-form label.short {
	width: 104px;
}
.common-form input[type="text"].short, .common-form input[type="password"].short {
	width: 100px;
}
.common-form select.short {
	width: 102px;
}
/* Medium */
.common-form label.medium {
	width: 204px;
}
.common-form input[type="text"].medium, .common-form input[type="password"].medium {
	width: 200px;
}
.common-form select.medium {
	width: 204px;
}
.common-form textarea.medium {
	width: 202px;
}
/* Long */
.common-form label.long {
	width: 304px;
}
.common-form input[type="text"].long, .common-form input[type="password"].long {
	width: 300px;
}
.common-form select.long {
	width: 304px;
}
/* Max */
.common-form textarea.max {
	height: 400px;
	width: 99.5%;
}
.buttons {
	background:url(images/buttons-bg-gb.png) repeat-x top;
	border: 1px solid #BCD;
	padding: 5px 10px;
	border-radius: 4px;
	text-align: right;
	margin-top: 10px;
}
/******** loading indicator ***********/
.loading span {	
    position:fixed;
    left:50%;
    margin-top: -25px;
    margin-left: -50px;
}

/****** redefination of jQuery ui style *****/
.ui-dialog {
	-webkit-box-shadow:4px 4px 6px 3px rgba(50,50,60,0.6);
	-moz-box-shadow:4px 4px 6px 3px rgba(50,50,60,0.6);
	box-shadow:4px 4px 6px 3px rgba(50,50,60,0.6);
}
.ui-widget-overlay {
	background-image:none;
	background-color:#BCD;
	opacity:0.5;
}
.ui-widget {
    font:inherit;
    font-size:1em;
}

/********* message box style ********/
.message {
    font:inherit;
}