/* CSS Document */
body {
	background-color: #FFF;
	
	font-family: "宋体", Arial, Helvetica, sans-serif;	
	font-size: 12px;
		
	width: 965px;
	
	margin-left:auto;
	margin-right:auto;
}

a {
	color: #002b5e;
	text-decoration: none;
}

